<div class="home">
  <div class="headerSection">
    <div class="container">
      <%= image_tag 'photo-principal-dlf-immo.jpg', class: 'headerSection-image', alt: 'photo principal maison dlf immobilier à Tournon sur Rhônes' %>
      <div class="headerSection-intro">
        <%= image_tag 'salle-a-manger-exterieure-mas-vermentino.png', class: 'headerSection-intro--image', alt: "photo secondaire d'une maison dlf immobilier à Tournon sur Rhônes" %>
        <div class="headerSection-intro--text">
          <h1 id="ancreagence">Agence DLF.Immobilier</h1>
          <p>L'humain est au coeur de mon métier.</p>
          <p>L' engagement, le goût de l'autre, l'esprit de service sont mes valeurs, et le reflet de mon identité et de
             mes ambitions.
          </p>
          <p>Entre Lyon, berceau de ma famille, et Tournon-sur-Rhône, ma ville depuis 25 ans, je souhaite apporter mon
             expérience de l'immobilier et du terrain, et mes compétences juridiques à  chacun de vous, à travers une
             relation basée sur la confiance et l'écoute.
          </p>
          <p>Parce que je souhaite donner un sens unique à notre relation :</p>
        </div>
      </div>
      <div class="headerSection-values">
        <div class="headerSection-values--card">
          <i class="fa-solid fa-lightbulb"></i>
          <p>Savoir-faire</p>
        </div>
        <div class="headerSection-values--card">
          <i class="fa-solid fa-user-group"></i>
          <p>Engagement</p>
        </div>
        <div class="headerSection-values--card">
          <i class="fa-solid fa-clock"></i>
          <p>Réactivité</p>
        </div>
        <div class="headerSection-values--card">
          <i class="fa-solid fa-handshake"></i>
          <p>Transparence</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sectionGray salesSection" id="ancrevente">
    <div class="container">
      <h2 id="ancrevente" class="salesSection-title ">Vente</h2>
      <div class="salesSection-text">
      <p>Chaque vente est une histoire à construire ensemble.</p>
      <p>Exigeante, je prends peu de biens à la vente. Je vous accompagne, de l'estimation à la constitution de votre
         dossier de vente, en passant par la publicité et la mise en valeur de votre bien.</p>
      <p>Je vous propose des acquéreurs sélectionnés et assure le suivi administratif jusqu'à la signature définitive,
         tout en privilégiant une restitution constante des informations.
         Si vous le souhaitez, ma mission peut se prolonger avec votre emménagement (déménagement, suivi de vos travaux …)</p>
      <p>Je suis à votre disposition pour une collaboration sur mesure, à votre rythme.</p>
      <br>
      <div class="salesSection-cards">
        <% @houses.each do |house| %>
          <div class="houseCard">
            <div class="salesSection-stateWithImage">
              <p><%= house.state.upcase %></p>
              <%#= image_tag house.photo, class: 'houseCard-image', width: 400, height: 300, crop: :fill,
                  alt: "Photo d'un appartement ou d'une maison à vendre par dlf immobilier dans la région de Tournon sur Rhônes" %>
            </div>
            <div class="houseCard-details">
              <div class="houseCard-details--price"><%= number_with_delimiter(house.price, delimiter: " ") %> €</div>
              <div>
                <div class="houseCard-title"><%= house.name %></div>
                <div class="houseCard-location"><%= house.house_type %> à <%= house.city %>, <%= house.region %></div>
              </div>
              <div class="houseCard-footer">
                <div class="houseCard-footer--content">
                  <i class="fa-solid fa-house"></i>
                  <p><%= house.area %>m²</p>
                </div>
                <div class="houseCard-footer--content">
                  <i class="fa-solid fa-bed"></i>
                  <p><%= house.bed %>ch</p>
                </div>
                <div class="houseCard-footer--content">
                  <i class="fa-solid fa-bath"></i>
                  <p><%= house.bathroom %></p>
                </div>
                <div class="houseCard-footer--content">
                  <i class="fa-solid fa-seedling"></i>
                  <p><%= house.outdoor_area %>m2</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="searchSection">
    <div class="container">
      <h2 id="ancrerecherche" class="searchSection-title">Recherche</h2>
      <div class="searchSection-intro">
        <div class="searchSection-text">
          <p>
            La recherche d'un bien peut se révéler complexe et chronophage.
            Confier un mandat de recherche offre un gain de temps et une approche professionnelle à votre projet.
          </p>
          <ul>
            <li>Détermination du  bien idéal pour vous, en termes de localisation, d'environnement, de prix.</li>
            <li>La garantie de visiter uniquement des biens qui correspondent à vos attentes</li>
            <li>Un achat réalisé dans un délai plus court (de la négociation à la signature définitive)</li>
            <li>Un prix d'acquisition préalablement déterminé</li>
            <li>La possibilité d'un accompagnement jusqu'à votre emménagement (travaux, déménagement…)</li>
          </ul>
          <%= image_tag 'photo-dlf-immobilier-og.jpg',
                class: 'searchSection-image',
                alt: "Photo illustrant une maison correspondant aux type d'appartements ou de maisons que dlf immobilier
                     peut rechercher pour vous et vous trouver dans la région de Tournon sur Rhônes" %>
        </div>
      </div>
    </div>
  </div>

  <div class="estimateSection">
    <div class="container">
      <div>
        <div>
          <h2 id="ancreestimation" class="estimateSection-title">Estimation</h2>
          <div class="estimateSection-text">
            <p id="ancrecontact">
              Une estimation juste de votre bien est la base d'une bonne transaction.
              Un vendeur a tendance à surestimer son bien, tandis qu'un acquéreur le trouvera toujours trop cher.
            </p>
            <ul>
              <p>
                Chaque bien est unique et nécessite une analyse objective selon des critères précis :
              </p>
              <li>localisation,</li>
              <li>prix des biens vendus dans le secteur,</li>
              <li>comportement du marché immobilier (offre et demande) au moment de l'évaluation</li>
            </ul>
            <p>Cette estimation professionnelle est une étape cruciale de votre projet de vente, permettant à celui-ci
              d'aboutir dans les meilleures conditions.</p>
          </div>
        </div>
        <div>
          <a href="mailto:delphine@dlf.immo" class="main-button">Je demande mon estimation</a>
        </div>
      </div>
    </div>
  </div>

</div>
