<div class="houseNew-form">
  <%= simple_form_for [:admin, house] do |f| %>

    <div class="field">
      <%= f.input :name, label: 'Nom' %>
    </div>

    <div class="field">
      <%= f.input :house_type, label: 'Type de bien' %>
    </div>

    <div class="field">
      <%= f.input :price, label: 'Prix' %>
    </div>

    <div class="field">
      <%= f.input :area, label: 'Surface intérieur' %>
    </div>

    <div class="field">
      <%= f.input :bed, label: 'Nombre de lit' %>
    </div>

    <div class="field">
      <%= f.input :bathroom, label: 'Nombre de salle de bain'%>
    </div>

    <div class="field">
      <%= f.input :outdoor_area, label: 'Surface extérieur' %>
    </div>

    <div class="field">
      <%= f.input :photo, as: :file, label: 'Photo de couverture :' %>
    </div>

    <div class="houseNew-form--button">
      <%= f.button :submit, "Créer un bien", class: 'houseNew-form--submit'  %>
    </div>

  <% end %>
</div>
