<div class="home">
  <div class="headerSection">
    <div class="container">
      <h1>Bienvenue sur l'admin <%= current_user.email %></h1>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
      <h3>Voici la liste des appartements :</h3>
      <%= link_to 'Créer un nouveau bien', new_admin_house_path %>
      <div class="sectionGray salesSection">
        <div class="container">
          <div class="salesSection-cards">
            <% @houses.each do |house| %>
              <div class="houseCard">
                <%= image_tag 'photo-maison.jpg', class: 'houseCard-image' %>
                <div class="houseCard-details">
                  <div class="houseCard-details--price"><%= number_with_delimiter(house.price, delimiter: " ") %> €</div>
                  <div>
                    <div class="houseCard-title"><%= house.name %></div>
                    <div class="houseCard-location">Chalençon - Ardèche</div>
                  </div>
                </div>
                <div class="houseCard-footer">
                  <%= link_to 'Voir', house_path(house), class: 'houseCard-title' %>
                  <%= link_to 'Modifier', edit_admin_house_path(house), class: 'houseCard-title' %>
                  <%= link_to 'Supprimer', admin_house_path(house), method: :delete, data: { confirm: 'Are you sure?' }, class: 'houseCard-title' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
